{{#if model.projector_logo }}
  <div id="logo-wrapper">
    <img style="width: 100px" src={{ model.projector_logo_url }}/>
    <br>
    <div class="btn btn-danger btn-sm" {{action 'removeProjectorLogo'}}>{{t 'remove_logo'}}</div>
    <div class="btn btn-default btn-sm" {{action 'uploadProjectorLogo'}}>{{t 'upload_logo'}}</div>
  </div>
{{else}}
  <div>
    <div class="btn btn-default btn-sm" {{action 'uploadProjectorLogo'}}>{{t 'upload_logo'}}</div>
  </div>
{{/if}}

{{#if isShowingModal}}
  {{upload-dialog close="uploaded" title=(t "upload_projector_logo")}}
{{/if}}
