{{#if uploadStatus.uploading}}
    <h3 class="uploading-percentage">Uploaded Percentage: {{uploadStatus.percentComplete}}%</h3>
{{/if}}

{{#x-droplet-area}}

  {{#if uploadStatus.error}}
      <div class="error">An error occurred during the upload process. Please try again later.</div>
  {{/if}}

  {{#each uploadedFiles as |file|}}

      <div class="file">
        {{name}}
          <a class="remove">Uploaded.</a>
        {{x-droplet-preview image=file}}
      </div>

  {{/each}}

  {{#each validFiles as |file|}}

      <div class="file">
        {{name}}
          <a class="remove" {{action "deleteFiles" file}}>Discard.</a>
        {{x-droplet-preview image=file}}
      </div>

  {{/each}}

  <div class="buttons">
      <button class="btn" {{action "clearFiles"}}>{{t 'delete'}}</button>
    {{#if uploadStatus.uploading}}
        <button class="btn" {{action "abortUpload"}}>{{t 'abort'}}</button>
    {{/if}}
  </div>

  {{#unless uploadedFiles.length}}
    {{x-droplet-input}}
  {{/unless}}


{{/x-droplet-area}}
