<tr {{action 'toggleDetails'}}>
  <td>{{instance.event_name}}</td>
  <td><a href="{{instance.url}}">{{instance.url}}</a></td>
  <td>
    {{#if (eq instance.state 'active')}}
      <span class = "label label-success">active</span>
      {{else if (eq instance.state 'sleeping')}}
      <span class = "label label-default">sleeping</span>
    {{else if (eq instance.state 'installing')}}
      <span class = "label label-danger">installing</span>
    {{else if (eq instance.state 'stopped')}}
      <span class = "label label-danger">stopped</span>
    {{else if (eq instance.state 'error')}}
      <span class = "label label-danger">error</span>
    {{/if}}
  </td>
</tr>
{{#if detailsOpen}}
  <tr {{action 'toogleDetails'}}>
    <td colspan="3">
    <ul>
      <li>{{t 'event-location'}}: {{ instance.event_location }}</li>
      <li>{{t 'event-description'}}: {{ instance.event_decription }}</li>
      <li>{{t 'event-date'}}: {{ formatDate instance.event_date 'L'}}</li>
      <li>{{t 'event-organizer'}}: {{ instance.event_organizer }}</li>
      <li>{{t 'admin-first-name'}}: {{ instance.admin_first_name }}</li>
      <li>{{t 'admin-last-name'}}: {{ instance.admin_last_name }}</li>
      <li>{{t 'admin-username'}}: {{ instance.admin_username }}</li>
      <li>{{t 'admin-initial-password'}}: {{ instance.admin_initial_password }}</li>
      <li>{{t 'superadmin-password'}}: {{ instance.superadmin_password }}</li>
    </ul>
      {{#if (eq instance.state 'active')}}
        <!--<a {{action 'stop'}}>stop instance</a>-->
      {{/if}}
      <!--<a {{action 'remove'}}>remove instance</a>-->
    </td>
  </tr>
{{/if}}