<tr {{action 'toggleDetails'}}>
  <td>{{instance.event_name}}</td>
  <td>{{instance.osversion.name}}</td>
  <td>
    {{#if (eq instance.state 'active')}}
      <a href={{instance.url}}>{{instance.url}}</a>
    {{else if (eq instance.state 'sleeping')}}
      <a href={{instance.url}}>{{instance.url}}</a>
    {{else if (eq instance.state 'stopped')}}
      <a href={{instance.url}}>{{instance.url}}</a>
    {{else}}
      <p class="small" style="max-width: 200px">{{t 'still-installing'}}</p>
    {{/if}}
  </td>
  <td>
    {{#if (eq instance.state 'active')}}
      <span class="label label-success">{{t 'active'}}</span>
    {{else if (eq instance.state 'sleeping')}}
      <span class="label label-default">{{t 'sleeping'}}</span>
    {{else if (eq instance.state 'installing')}}
      <span class="label label-danger">{{t 'installing'}}</span>
    {{else if (eq instance.state 'stopped')}}
      <span class="label label-danger">{{t 'stopped'}}</span>
    {{else if (eq instance.state 'error')}}
      <span class="label label-danger">{{t 'error'}}</span>
    {{/if}}
  </td>
</tr>
{{#if detailsOpen}}
  <tr>
    <td colspan="3">

      <div class="row">

        <div class="col-sm-4">
          <span class="caption">{{t 'instance-details'}}</span>
          <ul>
            <li>{{t 'instance.osversion'}}: {{instance.osversion.name}} </li>
            <li>{{t 'instance.event-description'}}: {{ instance.event_description }}</li>
            <li>{{t 'instance.event-date'}}: {{ instance.event_date }}</li>
            <li>{{t 'instance.event-location'}}: {{ instance.event_location }}</li>
            <li>{{t 'instance.event-organizer'}}: {{ instance.event_organizer }}</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <span class="caption">{{t 'local-admin-login'}}</span>
          <table>
            <tr>
              <td>{{t 'instance.admin-username'}}:</td>
              <td>{{ instance.admin_username }}</td>
            </tr>
            <tr>
              <td>{{t 'instance.admin-password'}}:</td>
              <td>{{ instance.admin_initial_password }}</td>
            </tr>
          </table>
          <br>
          <span class="caption">{{t 'super-admin-login'}}</span>
          <table>
            <tr>
              <td>{{t 'instance.admin-username'}}:</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>{{t 'instance.admin-password'}}:</td>
              <td>{{ instance.superadmin_password }}</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-3">
          {{instance-projector-logo model=instance uploaded='uploaded'}}
        </div>
        <div class="col-sm-2">
          <div class="btn-group-vertical" role="group" aria-label="...">
            {{#if (eq instance.state 'active')}}
              <button type="button" class="btn btn-sm btn-default" disabled={{saving}} {{action 'stop'}}>
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                {{t 'action-stop-instance'}}
              </button>
            {{/if}}
            {{#if (eq instance.state 'sleeping')}}
              <button type="button" class="btn btn-sm btn-default" disabled={{saving}} {{action 'stop'}}>
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                {{t 'action-stop-instance'}}
              </button>
            {{/if}}
            {{#if (eq instance.state 'stopped')}}
              <button type="button" class="btn btn-sm btn-default" disabled={{saving}} {{action 'start'}}>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                {{t 'action-start-instance'}}
              </button>
            {{/if}}

            {{#unless (eq instance.state 'installing')}}
              <button type="button" class="btn btn-sm btn-default" disabled={{saving}}
                {{action 'upgradeInstance' instance}}>
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                {{t 'action-upgrade-instance'}}
              </button>
            {{/unless}}

            <button type="button" class="btn btn-sm btn-danger" disabled={{saving}} {{action 'remove'}}>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              {{t 'action-delete-instance'}}
            </button>
          </div>
        </div>
      </div>
    </td>
  </tr>
{{/if}}
